My Workflow.json
{
  "name": "My Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1OxbHSj9jThPRSWtqpafL6NFHSOyVgaZMDuDCdD9Yu_I",
          "mode": "list",
          "cachedResultName": "Social Media Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OxbHSj9jThPRSWtqpafL6NFHSOyVgaZMDuDCdD9Yu_I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OxbHSj9jThPRSWtqpafL6NFHSOyVgaZMDuDCdD9Yu_I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -16
      ],
      "id": "8ca4d513-7965-4022-9be3-77d1f97d5a95",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "cLaTuxKMkinmWXhY",
          "name": "Google Sheets Trigger account 3029"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this article: {{ $json.newslinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -64,
        -16
      ],
      "id": "66d231c6-f6c1-49a6-8dde-ceaa86cf629e",
      "name": "Summarize article"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        224
      ],
      "id": "cf080968-94c5-4a45-a8df-9ccc18bfc30f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QODAhhQ2nek50P4b",
          "name": "Google Gemini(PaLM) Api account 7577"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert and draft a LinkedIn post discussing key points from a news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current industry trends, and encourage professional engagement or discussions. Highlight any notable implications for the industry. LinkedIn supports detailed posts, so ensure it is informative and structured. Add a professional call to action. Directly start with the post content, do not add any primer like \"here is your content for LinkedIn post\".Give only 200 words\nHere's a summary of the article:{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        288,
        -16
      ],
      "id": "da158246-a7c9-4b65-86b8-03b9553619d2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        240
      ],
      "id": "18874072-7188-4908-81e4-0b24b5e9087b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QODAhhQ2nek50P4b",
          "name": "Google Gemini(PaLM) Api account 7577"
        }
      }
    },
    {
      "parameters": {
        "person": "3s3DJEu1HR",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        640,
        -16
      ],
      "id": "467d0264-b57c-4d22-a5e0-8ae9a880256f",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "85mUtDZhQu4ptM5r",
          "name": "LinkedIn account 2183"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Summarize article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize article": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be8626dc-7c6a-43cf-9c37-99bfdb9093f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "cy2SPbJ8JgsFMtaM",
  "tags": []
}